* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenido {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #F2F9FF;
    color: #111729;
}

.conteiner {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 2%;
    gap: 5%;
}

.columnas:first-child {
    display: flex;
    justify-content: space-between;
}

.links-t {
    display: flex;
    gap: 10%;
    width: 50%;
}

.links {
    background-color: transparent;
    border: none;
    color: #909193;
}

.links:first-child {
    color: black;
}

.mode {
    display: flex;
    border: 1px solid #111729;
    background-color: #111729;
    border-radius: 15px;
}

.sun {
    background-color: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.columnas:last-child {
    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: center;
}

.img-main {
    width: 100%;
    max-width: 600px;
}

.items:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista-v {
    display: flex;
    justify-content: space-between;
    display: flex;

}

.botones-items {
    height: 5%;
    display: flex;
    gap: 1%;
}

.b-items {
    border: none;
    background-color: #2A4DD0;
    width: 30%;
    height: 100%;
    color: white;
    border-radius: 5px;
}

.b-items:last-child {
    background-color: transparent;
    color: #2A4DD0;
    text-decoration: underline;
}

.lista-1 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 3.75rem;
}

p,
h6 {
    font-size: 1.125rem;
}

.small {
    font-size: 0.875rem;
}

.links:hover {
    text-decoration: underline;
    cursor: pointer;
}

.b-items:hover {
    cursor: pointer;
}